appdirs==1.4.3
asgiref==3.2.7
astroid==2.3.3
attrs==19.3.0
Automat==20.2.0
autopep8==1.4.4
dj-database-url==0.5.0
Django==3.0.6
django-crispy-forms==1.9.0
django-heroku==0.3.1
django-phone-field==1.8.0
filelock==3.0.12
fuzzywuzzy==0.18.0
gunicorn==20.0.4
jdcal==1.4.1
Jinja2==2.11.2
MarkupSafe==1.1.1
mccabe==0.6.1
parsel==1.5.2
Pillow==6.2.1
