{% extends 'base.html' %}

{%  block Content %}

<div class="container">
        <div class="row">
                <div class="col-md-8">
                        <div class="jumbotron jumbotron-fluid">
                                <div class="container">
                                        <h2 class="text-secondary">You have been Logged Out.</h2>
                                        <p class="lead">
                                                <a href="{% url 'Login' %}">Login Again</a>
                                        </p>
                                </div>
                      </div>
                </div>
        </div>
</div>

{% endblock Content %}